{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/dataAnalyticsImage4.avif')}});">
    <div id="pageintro" class="hoc clear">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'>Welcome to Comsats University Islamabad Attock Campus Analytics </h1>
                        <h1>Predict your Semester Results for Our better prediction</h1>
                        <footer><a class="btn" href="/questionForm">Start your prediction!</a></footer>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper row3" style="background-color: #1A252F;">
    <main class="hoc container clear">
        <div class="content">
            <h3 class="heading" align="center" style="color: #FFFFFF; font-size: 1.2rem; font-weight: 700;">Welcome to our student's result prediction page!</h3>
            <p style="color: #FFFFFF; font-size: 1.2rem;">Thank you for visiting our student project website. We, along with Dr. Shehzad Rizwan, have developed this project for the course Learning Analytics at COMSATS University Islamabad, Attock Campus. We are the team Data Titans, and the goals of our project are to enhance the prediction of our semester results through:</p>
            <ul>
                <li style="color: #FFFFFF; font-size: 1.2rem;">Exploring the student performance dataset with initial data visualization.</li>
                <li style="color: #FFFFFF; font-size: 1.2rem;">Applying machine learning algorithms to identify key features and predict student performance accurately.</li>
            </ul>
            <div class="clear"></div>
            <div class="content">
                <p class="fl_left"><a href="https://www.uni-due.de/soco/" target="_blank"><img class="imgl borderedbox inspace-5" src="../static/images/dataAnalyticsImage3.avif" alt=""></a></p>
                <p class="fl_right"><a href="https://www.uni-due.de/" target="_blank"><img class="imgr borderedbox inspace-5" src="../static/images/comsatslogo3.jpeg" alt=""></a></p>
            </div>
        </div>
    </main>
</div>
{% endblock content %}