{% extends "header.html" %}
{% block content %}
<!-- Hero Section -->
<div class="bgded overlay" style="background-image: url({{ url_for('static', filename='./images/img3.jpg') }}); background-color: #1A252F;">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class="heading1" style="color: #090808; font-size: 1.2rem; font-weight: 700;">Predict Your Result</h1>
                </article1>
            </li>
        </ul>
        <ul>
            <li><a href="/questionForm" style="color: #090808; font-size: 1.2rem;">Predict</a></li>
            <li><a href="/questionForm" style="color: #090808; font-size: 1.2rem;">Predict Your Result</a></li>
        </ul>
    </div>
</div>

<!-- Form Section -->
<div class="wrapper row3" style="background-color: #1A252F;">
    <main class="hoc container clear">
        <div class="sectiontitle">
            <p style="color: #efe6e6; font-size: 1.2rem;"><br>Let's start the prediction!</p>
            <p style="color: #fcf6f6; font-size: 1.2rem;"><br>Please fill up the form and press predict</p>
        </div>
        <!-- Question form to ask users to enter the options for prediction -->
        <form action="" method="POST">
            <div class="scrollable">
                <table>
                    <!-- Row 1 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Gender:</td>
                        <td>
                            <select name="gender" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{gender[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{gender[0]}}</option>
                                {% for gender in gender[1:] %}
                                <option value="{{gender}}" style="color: #090808; font-size: 1.2rem;">{{gender}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="color: #090808; font-size: 1.2rem;">Region:</td>
                        <td>
                            <select name="region" method="post" region="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{region[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{region[0]}}</option>
                                {% for region in region[1:] %}
                                <option value="{{region}}" style="color: #090808; font-size: 1.2rem;">{{region}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 2 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Highest Education:</td>
                        <td>
                            <select name="highest_education" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{highest_education[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{highest_education[0]}}</option>
                                {% for highest_education in highest_education[1:] %}
                                <option value="{{highest_education}}" style="color: #090808; font-size: 1.2rem;">{{highest_education}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="color: #090808; font-size: 1.2rem;">IMD Band:</td>
                        <td>
                            <select name="imd_band" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{imd_band[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{imd_band[0]}}</option>
                                {% for imd_band in imd_band[1:] %}
                                <option value="{{imd_band}}" style="color: #090808; font-size: 1.2rem;">{{imd_band}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 3 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Age Group:</td>
                        <td>
                            <select name="age_band" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{age_band[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{age_band[0]}}</option>
                                {% for age_band in age_band[1:] %}
                                <option value="{{age_band}}" style="color: #090808; font-size: 1.2rem;">{{age_band}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="color: #090808; font-size: 1.2rem;">Number Of Previous Attempts:</td>
                        <td>
                            <select name="num_of_prev_attempts" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{num_of_prev_attempts[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{num_of_prev_attempts[0]}}</option>
                                {% for num_of_prev_attempts in num_of_prev_attempts[1:] %}
                                <option value="{{num_of_prev_attempts}}" style="color: #090808; font-size: 1.2rem;">{{num_of_prev_attempts}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 4 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Semester:</td>
                        <td>
                            <select name="is_banked" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{is_banked[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{is_banked[0]}}</option>
                                {% for is_banked in is_banked[1:] %}
                                <option value="{{is_banked}}" style="color: #090808; font-size: 1.2rem;">{{is_banked}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="color: #090808; font-size: 1.2rem;">First Module:</td>
                        <td>
                            <select name="code_module_x" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{code_module_x[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{code_module_x[0]}}</option>
                                {% for code_module_x in code_module_x[1:] %}
                                <option value="{{code_module_x}}" style="color: #090808; font-size: 1.2rem;">{{code_module_x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 5 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Semester (First Module):</td>
                        <td>
                            <select name="code_presentation_x" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{code_presentation_x[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{code_presentation_x[0]}}</option>
                                {% for code_presentation_x in code_presentation_x[1:] %}
                                <option value="{{code_presentation_x}}" style="color: #090808; font-size: 1.2rem;">{{code_presentation_x}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="color: #090808; font-size: 1.2rem;">Second Module:</td>
                        <td>
                            <select name="code_module_y" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{code_module_y[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{code_module_y[0]}}</option>
                                {% for code_module_y in code_module_y[1:] %}
                                <option value="{{code_module_y}}" style="color: #090808; font-size: 1.2rem;">{{code_module_y}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tbody>
                    <!-- Row 6 -->
                    <tbody>
                        <td style="color: #090808; font-size: 1.2rem;">Semester (Second Module):</td>
                        <td>
                            <select name="code_presentation_y" method="post" action="" width="300" style="width: 300px; color: #090808; font-size: 1.2rem;">
                                <option value="{{code_presentation_y[0]}}" selected style="color: #090808; font-size: 1.2rem;">{{code_presentation_y[0]}}</option>
                                {% for code_presentation_y in code_presentation_y[1:] %}
                                <option value="{{code_presentation_y}}" style="color: #090808; font-size: 1.2rem;">{{code_presentation_y}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                    </tbody>
                </table>
                <div class="center">
                    <input type="submit" value="Predict" class="btn brand z-depth-0" style="float: center; color: #090808; font-size: 1.2rem;">
                </div>
            </div>
        </form>
        <!-- End of question form -->
        <div class="clear"></div>
    </main>
</div>
{% endblock content %}